@charset "UTF-8";

:root {
    --cor00: #c8d2dd;
    --cor01: #8b9eb1;
    --cor02: #7D99B3;
    --cor03: #506273;
    --cor04: #485867;
    --cor05: #36414D;
    --cor06: #2b353f;
}

* {
    margin: 0px;
    padding: 0px;
}
header {
    margin: -20px -20px 0px -20px;
    padding: 20px 20px 20px 50px;
    background-color: var(--cor03);
    font-variant: small-caps;
    color: #ffffff;
}
header p {
    text-shadow: 4px 4px 1px var(--cor06);
}
header a {
    display: inline-block;
}
.p-nome {
    font-size: 5vw;
}
.p-profissao {
    font-size: 2.5vw;
    padding-left: 20px;
}

#div-nome {
    display: inline-block;
    padding: 20px;
    background-color: var(--cor04);
    border-radius: 59%;
}

body {
    padding: 20px;
    background-color: var(--cor00);
}

.sec-imagem-principal {
    padding: 5vw 0px;
    padding-left: 30px;
    
}
.sec-imagem-principal img {
    width: 30vw;
    border-top: 3px solid var(--cor03);
    border-bottom: 3px solid var(--cor03);
}

