@charset "UTF-8";

:root {
    --cor01: #8b9eb1;
    --cor02: #7D99B3;
    --cor03: #506273;
    --cor04: #485867;
    --cor05: #36414D;
}

* {
    margin: 0px;
    padding: 0px;
}
header {
    margin: -20px -20px 0px -20px;
    padding: 20px 20px 20px 50px;
    background-color: var(--cor03);
    font-variant: small-caps;
    color: #ffffff;
}
header h1{
    font-size: 5vw;
}
header h2 {
    font-size: 2vw;
    padding-left: 21px;
}
body {
    padding: 20px;
    background-image: url(../imagens/fundo-vertical.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

img {
    display: inline;
    width: 50vw;
    margin-top: 40px;
    box-shadow: 3px 3px 7px hsla(209, 18%, 34%, 0.400);
    border-radius: 5px;
}

