@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(167, 166, 166);
}

header{
    font: normal normal 10vw arial;
}
header h1 {
    text-align: center;
    padding: 5vh 0px;
}

.fundo {
    background: gray url(../teste003/imagens/imagem-flor.jpg) 100% 100% no-repeat;
    background-size: cover;
}
.frente {
    display: inline-block;
    font: normal bold 3vh arial;
    color: white;
    padding: 10vh 0vh 10vh 30px;

}
.frente p {
    background-color: rgba(0, 0, 0, 0.400);
    padding: 5px;
}