@charset "UTF-8";


* {
    padding: 0px;
    margin: 0px;
}

:root {

    --font-titulo: 'Passion One', cursive;
    --font-texto: 'Sriracha', cursive;
    --fonte-final: Verdana, Geneva, Tahoma, sans-serif;
}   

body {
    min-height: 100vh;
}

header {
    background-color: black;
    text-align: center;
    color: white;
    padding: 50px 10px;
}
header h1 {
    font: normal bold 10vh var(--font-titulo);
    font-variant: small-caps;
}
header p {
    font-family: var(--fonte-final);
}
header a {
    text-decoration: none;
    color: white;
}

section {
    height: 50vh;
    padding: 10vh 0px 10vh 0px;
    padding-left: 30px;
    font-size: 4vh;
    font-family: var(--font-texto);
}

.image1 {
    background-color: gray;
}
.img1 {
    background-image: url('imagens/imagem-flor.jpg');
}
.image1 p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.300);
    padding: 5px;
}

