@charset "UTF-8";


* {
    padding: 0px;
    margin: 0px;
}

:root {

    --font-titulo: 'Passion One', cursive;
    --font-texto: 'Sriracha', cursive;
    --fonte-final: Verdana, Geneva, Tahoma, sans-serif;
}



header {
    background-color: black;
    text-align: center;
    color: white;
}
header h1 {
    display: inline-block;
    font: normal bold 10vh var(--font-titulo);
    font-variant: small-caps;
    padding-top: 50px;
}
header p {
    font-family: var(--fonte-final);
    padding-bottom: 50px;
}
header a {
    text-decoration: none;
    color: white;
}
header a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 0px;
    font: normal lighter 3.5vh var(--font-texto);
    line-height: 2em;
    padding-left: 30px;
}

.image p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.300);
    color: white;
    padding: 5px;
    background-attachment: fixed;
    text-shadow: 2px 2px black;
}

#img01 {
    background: gray url(../imagens/imagem-flor.jpg) center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#img02 {
    background: gray url(../imagens/imagem-pagina.jpg) right bottom fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

footer {
    background-color: black;
    text-align: center;
    padding: 5px;
    color: white;
}